html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

section.hidden {
	display: none;
}

/*
** Comunes
*/
a {
	outline: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide {
	display: none;
}
.left {
	float: left;
}
.header_spacer {
	height: 50px;
}

/*
** Estilos para el Login
*/
.login_container {
	background-color: #66B1E3;
	min-height: 100%;
	text-align: center;
}
img.login_logo {
	margin-top: 40px;
}
h1.login_app_name {
	color: #FFFFFF;
	font-family: "Open Sans Light";
	font-size: 60px;
	font-weight: normal;
	margin: 5px 0 20px;
	text-shadow: 3px 3px 0 #528EB6;
}
.login_message {
	color: #FFFFFF;
	font-family: "Open Sans Light";
	margin: 0 20px 30px;
}
.login_message span {
	text-shadow: 1px 1px 0 #528EB6;
}
button.auth_app_button {
	background-color: #528EB6;
	background-image: none;
	border: solid 1px #66B1E3;
	color: #FFFFFF;
	font-family: "Open Sans Light";
	margin-bottom: 20px;
	padding: 10px 20px;
	text-transform: uppercase;
}
button.auth_app_button:active {
	background-color: transparent;
	border: solid 1px #528EB6;
}

/*
** Estilos para el Home
*/
header.app_header_menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #66B1E3;
	z-index: 2;
}
nav.horizontal_menu {
	background-color: #66B1E3;
	position: relative;
}
nav.horizontal_menu ul.menu {
	margin: 0;
	padding: 0;
	width: 90%;
	float: left;
}
nav.horizontal_menu ul.menu li {
	display: block;
	float: left;
	height: 50px;
	width: 20%;
}
nav.horizontal_menu ul.menu li a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
a.home_link {
	background-image: url(../img/home.png);
}
a.compose_link {
	background-image: url(../img/compose.png);
}
a.discover_link {
	background-image: url(../img/discover.png);
}
a.message_link {
	background-image: url(../img/message.png);
}
a.lists_link {
	background-image: url(../img/lists.png);
}
button.toggle_menu {
	background-color: transparent;
	background-image: none;
	border: none;
	display: block;
	float: right;
	height: 50px;
	width: 10%;
}
button.toggle_menu:active,
button.toggle_menu.active,
nav.horizontal_menu ul li a:hover,
nav.horizontal_menu ul li a:active,
nav.horizontal_menu ul li a.active {
	background-color: #3498DB;
}
button.toggle_menu span.bullet {
	background-color: #FFFFFF;
	border-radius: 5px;
	display: block;
	height: 4px;
	margin: 4px auto 0;
	width: 4px;
}
ul.dropdown_menu {
	position: absolute;
	top: 50px;
	right: 0;
	width: 170px;
	background-color: #3498DB;
	margin: 0;
	padding: 0;
	z-index: 1;
}
ul.dropdown_menu li {
	display: block;
}
ul.dropdown_menu img.profile_menu_photo {
	display: block;
	float: left;
	margin: 6px;
}
ul.dropdown_menu li.view_profile a {
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.dropdown_menu li a {
	clear: both;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}
ul.dropdown_menu li a:hover,
ul.dropdown_menu li a:active {
	background-color: #2383C2 !important;
}
ul.dropdown_menu li a span.profile_menu_name,
ul.dropdown_menu li a span.profile_menu_user {
	color: #FFFFFF;
	font-family: "Open Sans Semibold";
	font-size: 11px;
	white-space: nowrap;
}
ul.dropdown_menu li a span.profile_menu_user {
	color: #8DC6EB;
}
ul.dropdown_menu li a.search_link,
ul.dropdown_menu li a.notifications_link,
ul.dropdown_menu li a.accounts_link,
ul.dropdown_menu li a.settings_link {
	display: block;
	background-position: 10px center;
	background-repeat: no-repeat;
	padding: 10px 10px 10px 30px;
	font-family: "Open Sans Semibold";
	font-size: 11px;
}
a.search_link {
	background-image: url(../img/search.png);
}
a.notifications_link {
	background-image: url(../img/notifications.png);
}
a.accounts_link {
	background-image: url(../img/accounts.png);
}
a.settings_link {
	background-image: url(../img/settings.png);
}

/*
** Timeline items
*/
.timeline_items .item {
	border-bottom: solid 1px #E3EAF0;
	padding-bottom: 10px;
}
img.user_avatar {
	margin: 10px 10px 5px;
}
span.post_date {
	display: block;
	text-align: center;
	color: #7F8C8D;
	font-size: 9px;
	font-family: "Open Sans Semibold";
	margin-top: -6px;
}
header.post_header {
	padding-top: 5px;
}
.timeline_items .item span.author_name {
	font-family: "Open Sans Semibold";
	color: #2C3E50;
	font-size: 14px;
	margin: 10px 5px 5px 0;
	line-height: 20px;
}
.timeline_items .item span.author_alias {
	font-family: "Open Sans Light";
	color: #3498DB;
	font-size: 13px;
	font-weight: normal;
	margin: 10px 5px 5px 0;
}
.timeline_items .item p.post_content {
	font-family: "Open Sans";
	color: #000000;
	margin: 0 10px 0 70px;
	font-size: 12px;
}
.timeline_items .item p.post_content img {
	max-width: 100%;
	display: block;
	margin: 8px 0;
}
.timeline_items .item .post_options,
.tweet_container .post_options {
	text-align: right;
	padding-right: 12px;
}
.tweet_container .post_options {
	text-align: center;
	margin-top: 10px;
	padding-right: 0;
}
.timeline_items .item .post_options a,
.tweet_container .post_options a {
	background-image: url(../img/options.png);
	line-height: 0;
	background-repeat: no-repeat;
	font-family: "Open Sans Extrabold";
	font-size: 9px;
	text-decoration: none;
	color: #A9BBCE;
}
.timeline_items .item .post_options a.reply,
.tweet_container .post_options a.reply {
	background-position: 0 -31px;
  margin-right: 10px;
  padding-left: 20px;
}
.timeline_items .item .post_options a.retweet,
.tweet_container .post_options a.retweet {
	background-position: 0 0;
  margin-right: 10px;
  padding-left: 25px;
}
.timeline_items .item .post_options a.favorite,
.tweet_container .post_options a.favorite {
	background-position: 0 -47px;
  padding-left: 18px;
}
.tweet_container .post_options a.share {
	background-image: url(../img/share.png);
	padding-left: 17px;
	margin-left: 15px;
}
.timeline_items .item .post_options a.favorite.active,
.tweet_container .post_options a.favorite.active {
	background-position: 0 -64px;
	color: #F1C40F;
}
.timeline_items .item .post_options a.retweet.active,
.tweet_container .post_options a.retweet.active {
	background-position: 0 -15px;
	color: #3498DB;
}
.retweeted {
	color: #7f7f7f;
  font-family: "Open Sans Semibold";
  font-size: 11px;
  margin-left: 48px;
}
.retweeted img {
	margin-right: 8px;
}

/*
** Estos se usaran en varias interfaces.
*/
button.back {
	float: left;
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	color: #FFFFFF;
	background-color: transparent;
	background-image: none;
	font-family: "Open Sans Light";
  font-size: 43px;
  line-height: 0;
}
button.back span {
	display: block;
  margin-left: -7px;
  margin-top: -6px;
}
span.window_title {
	color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 50px;
}

/*
** Esitlos de la vista del un Tweet
*/
button.toggle_tweet_options {
	background-color: transparent;
	background-image: url(../img/tweet-options.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	display: block;
	height: 50px;
	float: right;
	width: 50px;
}
button.toggle_tweet_options:active,
button.back:active {
	background-color: #2383C2 !important;
}
.tweet_container img.user_avatar {
	border-radius: 5px;
	float: left;
}
.tweet_container span.tweet_author,
.tweet_container span.tweet_author_nick {
	font-family: "Open Sans";
	font-size: 16px;
	display: block;
}
.tweet_container span.tweet_author {
	margin-top: 10px;
}
.tweet_container span.tweet_author_nick {
	color: #BABABA;
}
.tweet_container button.follow_user,
.profile_container button.follow_user {
	width: 40px;
	height: 40px;
	background-color: #66B1E3;
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	border-radius: 4px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}
.tweet_container button.follow_user.follow,
.profile_container button.follow_user.follow {
	background-image: url(../img/follow.png);
}
.tweet_container button.follow_user.unfollow,
.profile_container button.follow_user.unfollow {
	background-color: #E74C3C;
	background-image: url(../img/unfollow.png);
}
.tweet_container button.follow_user.unfollow:active,
.profile_container button.follow_user.unfollow:active {
	background-color: #C0392B;
}
.tweet_container button.follow_user.follow:active,
.profile_container button.follow_user.follow:active {
	background-color: #3498DB;
}
.tweet_container p.tweet_text {
	font-size: 16px;
	font-family: "Open Sans";
	color: #333333;
	margin: 5px 10px 10px;
	padding: 0;
}
.tweet_container .tweet_stats {
	border-width: 1px;
	border-color: #E1E8ED;
	border-style: solid none solid none;
	margin: 12px 10px 10px;
}
.tweet_container .tweet_stats .stat_items {
	border-right: solid 1px #E1E8ED;
	float: left;
}
.tweet_container .tweet_stats .stat_items .retweets,
.tweet_container .tweet_stats .stat_items .favorites {
	padding-right: 20px;
	float: left;
}
.tweet_container .tweet_stats .stat_items .favorites span.text,
.tweet_container .tweet_stats .stat_items .retweets span.text {
	color: #8899A6;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-size: 10px;
	display: block;
	padding-top: 5px;
}
.tweet_container .tweet_stats .stat_items .favorites span.number,
.tweet_container .tweet_stats .stat_items .retweets span.number {
	font-family: "Open Sans Semibold";
	color: #666666;
	padding-bottom: 5px;
	display: block;
}
.tweet_container .tweet_stats .tweet_stats_photos {
	height: 46px;
  overflow: hidden;
}
.tweet_container .tweet_stats .tweet_stats_photos img:nth-of-type(1) {
	margin-left: 10px;
}
.tweet_container .tweet_stats .tweet_stats_photos img {
	border-radius: 4px;
	margin-top: 10px;
}
.tweet_container .tweet_date {
	color: #a9bbce;
  font-family: "Open Sans Semibold";
  font-size: 10px;
  padding-left: 10px;
}
.tweet_container .replies {
	background-color: #EDF5FC;
	margin: 10px;
}
.tweet_container .replies span.post_date {
	margin-top: 0;
}
.tweet_container .replies .timeline_items .item p.post_content {
	margin-left: 50px;
}
.tweet_container .replies .timeline_items .item .retweeted {
	margin-left: 30px;
}
.overlay_options {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.5);
	z-index: 2;
}
ul.tweet_overlay_options {
	background-color: #FFFFFF;
	width: 150px;
	border-radius: 5px;
	margin: 100px auto 0;
	padding: 0;
}
ul.tweet_overlay_options li {
	list-style: none;
}
ul.tweet_overlay_options li a {
	text-decoration: none;
	display: block;
	color: #555555;
	font-family: "Open Sans Light";
	font-size: 12px;
	padding: 10px;
	border-bottom: solid 1px #CFCFCF;
}
ul.tweet_overlay_options li:last-child a {
	border-bottom: none;
}

/*
** Redactar Tweet
*/
.compose_container .header_spacer {
	height: 88px;
}
.compose_container button.send_tweet {
	color: #FFFFFF;
	font-family: "Open Sans";
	line-height: 50px;
	display: block;
	float: right;
	padding: 0 20px;
	background-color: transparent;
	background-image: none;
	border: none;
	height: 50px;
}
.compose_container button.send_tweet:active {
	background-color: #2383C2;
}
.compose_container .char_count_images_cont {
	background-color: #EEEEEE;
	height: 38px;
	position: fixed;
	width: 100%;
	z-index: 2;
	top: 50px;
}
.compose_container .char_count_images_cont span.char_count {
	display: block;
	float: left;
	line-height: 38px;
	font-family: "Open Sans";
	color: #999999;
	font-size: 14px;
	padding-left: 15px;
}
.compose_container .char_count_images_cont label.camera,
.compose_container .char_count_images_cont button.picture {
	background-image: url(../img/camera.png);
	display: block;
	float: right;
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border: none;
}
.compose_container .char_count_images_cont button.picture {
	background-image: url(../img/picture.png);
	margin-right: 15px;
}
.compose_container .char_count_images_cont button.picture:active {
	background-image: url(../img/picture-hover.png);
	background-color: #66B1E3;
}
.compose_container .char_count_images_cont label.camera:active {
	background-image: url(../img/camera-hover.png);
	background-color: #66B1E3;
}
.compose_container .char_count_images_cont label.camera input {
	display: none;
}
.text_container {
	height: 50vh;
	position: relative;
}
.compose_container textarea.tweet_text {
	border: none;
	display: block;
  box-sizing: border-box;
	width: 94%;
	max-width: 94%;
	min-width: 94%;
	margin: 10px auto;
	font-family: "Open Sans";
	font-size: 14px;
	resize: none;
	height: 100%;
	background-image: none;
	background-color: #FFFFFF;
}

/*
** Estilos del Profile
*/
.profile_container .profile_image_header {
	position: relative;
}
.profile_container .profile_image_header img.profile_image {
	width: 100%;
}
.profile_container .profile_image_header img.profile_user_avatar {
	display: block;
	position: absolute;
	border-radius: 5px;
	border: solid 5px #FFFFFF;
	bottom: -37px;
	left: 5px;
}
.profile_container .user_stats {
	border-bottom: solid 1px #EEEEEE;
	height: 40px;
	padding-left: 100px;
}
.profile_container .user_stats a.user_stat_item {
	float: left;
	margin-right: 15px;
	text-decoration: none;
}
.profile_container .user_stats a.user_stat_item span.stat_text,
.profile_container .user_stats a.user_stat_item span.stat_number {
	display: block;
	font-family: "Open Sans";
	text-transform: uppercase;
}
.profile_container .user_stats a.user_stat_item span.stat_text {
	font-size: 10px;
	color: #333333;
}
.profile_container .user_stats a.user_stat_item span.stat_number {
	color: #66B1E3;
}
.profile_container .user_info {
	border-bottom: solid 1px #EEEEEE;
}
.profile_container .user_info .name_nick {
	float: left;
	margin-left: 10px;
}
.profile_container .user_info .name_nick span.name,
.profile_container .user_info .name_nick span.nickname {
	display: block;
	font-family: "Open Sans";
}
.profile_container .user_info button.follow_user {
	border-radius: 20px;
	margin-bottom: 8px;
	margin-top: 8px;
}
.profile_container .user_info .name_nick span.name {
	font-size: 17px;
	margin-top: 6px;
}
.profile_container .user_info .name_nick span.nickname {
	color: #666666;
	font-size: 14px;
}
.profile_container .user_bio {
	padding: 10px;
	font-family: "Open Sans";
	font-size: 14px;
}
.profile_container .user_bio p {
	margin-bottom: 10px;
	margin-top: 0;
}
.profile_container .user_bio p a {
	color: #5999CC;
	text-decoration: none;
}
.profile_container .user_bio p a:active {
	color: #FF5C26;
}
.profile_container .user_followers {
	background-color: #E4F1FA;
	font-family: "Open Sans";
	font-size: 12px;
	padding: 10px;
}
.profile_container .user_followers a {
	color: #5999cc;
	text-decoration: none;
}
.profile_container h3.profile_tweets_header {
	font-family: "Open Sans";
	font-weight: normal;
	margin: 10px 10px 0;
	text-transform: uppercase;
	color: #AAAAAA;
	font-size: 12px;
}
