html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/*
** Comunes
*/
a {
	outline: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide {
	display: none;
}
.left {
	float: left;
}
.right {
	float: right;
}
.header_spacer {
	height: 3.125rem;
}
input[type="text"].input_text {
	background-image: none;
	background-color: transparent;
	border: solid 0.0625rem #66B1E3;
	border-bottom-width: 0.125rem;
	display: block;
	width: 93%;
	font-family: "Open Sans";
	font-size: 0.75rem;
	height: 2.313rem;
	padding: 0 0.625rem; 
}
input[type="text"].input_text:focus {
	border: solid 0.0625rem #999999;
	border-bottom-width: 0.125rem;
}
textarea.textarea_form {
	background-image: none;
	background-color: transparent;
	border: solid 0.0625rem #66B1E3;
	border-bottom-width: 0.125rem;
	display: block;
	width: 93%;
	font-family: "Open Sans";
	font-size: 0.75rem;
	padding: 0.625rem;
	resize: none;
	height: 6.25rem;
}
input + textarea {
	margin-top: 0.625rem;
}
input[type="checkbox"].fancy_check {
	display: none;
}
label.fancy_check_label {
	display: block;
	width: 3.75rem;
	height: 1.688rem;
	background-image: url(../img/check-no.png);
	background-repeat: no-repeat;
	border-radius: 1.25rem;
}
input[type="checkbox"]:checked + label.fancy_check_label {
	background-image: url(../img/check-yes.png);
}
span.check_legend {
	display: block;
	float: left;
	font-family: "Open Sans";
	color: #AAAAAA;
	font-size: 0.75rem;
	line-height: 1.688rem;
}
.cols_3 .col {
	width: 33.33%;
	float: left;
}
.cols_2 .col {
	width: 50%;
	float: left;
}

/*
** Estilos para el Login
*/
.login_container {
	background-color: #66B1E3;
	min-height: 100%;
	text-align: center;
}
img.login_logo {
	margin-top: 2.5rem;
}
h1.login_app_name {
	color: #FFFFFF;
	font-family: "Open Sans Light";
	font-size: 3.75rem;
	font-weight: normal;
	margin: 0.3125rem 0 1.25rem;
	text-shadow: 0.1875rem 0.1875rem 0 #528EB6;
}
.login_message {
	color: #FFFFFF;
	font-family: "Open Sans Light";
	margin: 0 1.25rem 1.875rem;
}
.login_message span {
	text-shadow: 0.0625rem 0.0625rem 0 #528EB6;
}
button.auth_app_button {
	background-color: #528EB6;
	background-image: none;
	border: solid 0.0625rem #66B1E3;
	color: #FFFFFF;
	font-family: "Open Sans Light";
	margin-bottom: 1.25rem;
	padding: 0.625rem 1.25rem;
	text-transform: uppercase;
}
button.auth_app_button:active {
	background-color: transparent;
	border: solid 0.0625rem #528EB6;
}

/*
** Estilos para el Home
*/
header.app_header_menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.125rem;
	background-color: #66B1E3;
	z-index: 2;
}
nav.horizontal_menu {
	background-color: #66B1E3;
	position: relative;
}
nav.horizontal_menu ul.menu {
	margin: 0;
	padding: 0;
	width: 90%;
	float: left;
}
nav.horizontal_menu ul.menu li {
	display: block;
	float: left;
	height: 3.125rem;
	width: 20%;
}
nav.horizontal_menu ul.menu li a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
a.home_link {
	background-image: url(../img/home.png);
}
a.compose_link {
	background-image: url(../img/compose.png);
}
a.discover_link {
	background-image: url(../img/discover.png);
}
a.message_link {
	background-image: url(../img/message.png);
}
a.lists_link {
	background-image: url(../img/lists.png);
}
button.toggle_menu {
	background-color: transparent;
	background-image: none;
	border: none;
	display: block;
	float: right;
	height: 3.125rem;
	width: 10%;
}
button.toggle_menu:active,
button.toggle_menu.active,
nav.horizontal_menu ul li a:hover,
nav.horizontal_menu ul li a:active,
nav.horizontal_menu ul li a.active {
	background-color: #3498DB;
}
button.toggle_menu span.bullet {
	background-color: #FFFFFF;
	border-radius: 0.3125rem;
	display: block;
	height: 0.25rem;
	margin: 0.25rem auto 0;
	width: 0.25rem;
}
ul.dropdown_menu {
	position: absolute;
	top: 3.125rem;
	right: 0;
	width: 14.375rem;
	background-color: #3498DB;
	margin: 0;
	padding: 0;
	z-index: 1;
}
ul.dropdown_menu li {
	display: block;
}
ul.dropdown_menu img.profile_menu_photo {
	display: block;
	float: left;
	margin: 0.375rem;
}
ul.dropdown_menu li.view_profile a {
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.dropdown_menu li a {
	clear: both;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
}
ul.dropdown_menu li a:hover,
ul.dropdown_menu li a:active {
	background-color: #2383C2 !important;
}
ul.dropdown_menu li a span.profile_menu_name,
ul.dropdown_menu li a span.profile_menu_user {
	color: #FFFFFF;
	font-family: "Open Sans Semibold";
	font-size: 0.6875rem;
	white-space: nowrap;
}
ul.dropdown_menu li a span.profile_menu_user {
	color: #8DC6EB;
}
ul.dropdown_menu li a.search_link,
ul.dropdown_menu li a.notifications_link,
ul.dropdown_menu li a.accounts_link,
ul.dropdown_menu li a.settings_link {
	display: block;
	background-position: 0.625rem center;
	background-repeat: no-repeat;
	padding: 0.625rem 0.625rem 0.625rem 1.875rem;
	font-family: "Open Sans Semibold";
	font-size: 0.6875rem;
}
a.search_link {
	background-image: url(../img/search.png);
}
a.notifications_link {
	background-image: url(../img/notifications.png);
}
a.accounts_link {
	background-image: url(../img/accounts.png);
}
a.settings_link {
	background-image: url(../img/settings.png);
}

/*
** Timeline items
*/
.timeline_items .item {
	border-bottom: solid 0.0625rem #E3EAF0;
	padding-bottom: 0.625rem;
}
img.user_avatar {
	margin: 0.625rem 0.625rem 0.3125rem;
}
span.post_date {
	display: block;
	text-align: center;
	color: #7F8C8D;
	font-size: 0.5625rem;
	font-family: "Open Sans Semibold";
	margin-top: -0.375rem;
}
header.post_header {
	padding-top: 0.3125rem;
}
.timeline_items .item span.author_name {
	font-family: "Open Sans Semibold";
	color: #2C3E50;
	font-size: 0.875rem;
	margin: 0.625rem 0.3125rem 0.3125rem 0;
	line-height: 1.25rem;
}
.timeline_items .item span.author_alias {
	font-family: "Open Sans Light";
	color: #3498DB;
	font-size: 0.8125rem;
	font-weight: normal;
	margin: 0.625rem 0.3125rem 0.3125rem 0;
}
.timeline_items .item p.post_content {
	font-family: "Open Sans";
	color: #000000;
	margin: 0 0.625rem 0 4.375rem;
	font-size: 0.75rem;
}
.timeline_items .item p.post_content img {
	border: 0.3125rem solid #fff;
  box-shadow: 0 0 0.125rem #ccc;
	max-width: 96%;
	display: block;
	margin: 0.5rem 0;
}
.timeline_items .item .post_options,
.tweet_container .post_options {
	text-align: right;
	padding-right: 0.75rem;
}
.tweet_container .post_options {
	text-align: center;
	margin-top: 0.625rem;
	padding-right: 0;
}
.timeline_items .item .post_options a,
.tweet_container .post_options a {
	background-image: url(../img/options.png);
	line-height: 0;
	background-repeat: no-repeat;
	font-family: "Open Sans Extrabold";
	font-size: 0;
	padding: 0.4375rem 0;
	text-decoration: none;
	color: #A9BBCE;
}
.timeline_items .item .post_options a.reply,
.tweet_container .post_options a.reply {
	background-position: 0 -1.938rem;
  margin-right: 0.625rem;
  padding-left: 1.25rem;
}
.timeline_items .item .post_options a.retweet,
.tweet_container .post_options a.retweet {
	background-position: 0 0;
  margin-right: 0.625rem;
  padding-left: 1.563rem;
}
.timeline_items .item .post_options a.favorite,
.tweet_container .post_options a.favorite {
	background-position: 0 -2.938rem;
  padding-left: 1.125rem;
}
.tweet_container .post_options a.share {
	background-image: url(../img/share.png);
	padding-left: 1.063rem;
	margin-left: 10.3125rem;
}
.timeline_items .item .post_options a.favorite.active,
.tweet_container .post_options a.favorite.active {
	background-position: 0 -4rem;
	color: #F1C40F;
}
.timeline_items .item .post_options a.retweet.active,
.tweet_container .post_options a.retweet.active {
	background-position: 0 -0.9375rem;
	color: #3498DB;
}
.retweeted {
	color: #7f7f7f;
  font-family: "Open Sans Semibold";
  font-size: 0.6875rem;
  margin-left: 3rem;
}
.retweeted img {
	margin-right: 0.5rem;
}

/*
** Estos se usaran en varias interfaces.
*/
button.back {
	float: left;
	display: block;
	width: 3.125rem;
	height: 3.125rem;
	border: none;
	color: #FFFFFF;
	background-color: transparent;
	background-image: none;
	font-family: "Open Sans Light";
  font-size: 2.688rem;
  line-height: 0;
}
button.back span {
	display: block;
  margin-left: -0.4375rem;
  margin-top: -0.375rem;
}
span.window_title {
	color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.125rem;
  line-height: 3.125rem;
}
span.window_title.two_lines {
	line-height: 1rem;
  padding-top: 0.5625rem;
  float: left;
}
span.window_title.two_lines .subtitle {
	font-size: 0.75rem;
}

/*
** Esitlos de la vista del un Tweet
*/
button.toggle_tweet_options {
	background-color: transparent;
	background-image: url(../img/tweet-options.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	display: block;
	height: 3.125rem;
	float: right;
	width: 3.125rem;
}
button.toggle_tweet_options:active,
button.back:active {
	background-color: #2383C2 !important;
}
.tweet_container img.user_avatar {
	border-radius: 0.3125rem;
	float: left;
}
.tweet_container span.tweet_author,
.tweet_container span.tweet_author_nick,
span.user_author,
span.user_author_nick {
	font-family: "Open Sans";
	font-size: 1rem;
	display: block;
}
.tweet_container span.tweet_author,
span.user_author {
	margin-top: 0.625rem;
}
.tweet_container span.tweet_author_nick,
span.user_author_nick {
	color: #BABABA;
}
button.follow_user {
	width: 2.5rem;
	height: 2.5rem;
	background-color: #66B1E3;
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	border-radius: 1.25rem;
	float: right;
	margin-right: 0.625rem;
	margin-top: 0.625rem;
}
button.follow_user.follow {
	background-image: url(../img/follow.png);
}
button.follow_user.unfollow {
	background-color: #E74C3C;
	background-image: url(../img/unfollow.png);
}
button.follow_user.unfollow:active {
	background-color: #C0392B;
}
button.follow_user.follow:active {
	background-color: #3498DB;
}
.tweet_container p.tweet_text {
	font-size: 1rem;
	font-family: "Open Sans";
	color: #333333;
	margin: 0.3125rem 0.625rem 0.625rem;
	padding: 0;
}
.tweet_container .tweet_stats,
.view_list_container .list_stats {
	border-width: 0.0625rem;
	border-color: #E1E8ED;
	border-style: solid none solid none;
	margin: 0.75rem 0.625rem 0.625rem;
}
.tweet_container .tweet_stats .stat_items,
.view_list_container .list_stats .stat_items {
	border-right: solid 0.0625rem #E1E8ED;
	float: left;
}
.tweet_container .tweet_stats .stat_items .retweets,
.tweet_container .tweet_stats .stat_items .favorites,
.view_list_container .list_stats .stat_items .members,
.view_list_container .list_stats .stat_items .suscribers {
	padding-right: 1.25rem;
	float: left;
}
.tweet_container .tweet_stats .stat_items .favorites span.text,
.tweet_container .tweet_stats .stat_items .retweets span.text,
.view_list_container .list_stats .stat_items .members span.text,
.view_list_container .list_stats .stat_items .suscribers span.text {
	color: #8899A6;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-size: 0.625rem;
	display: block;
	padding-top: 0.3125rem;
}
.tweet_container .tweet_stats .stat_items .favorites span.number,
.tweet_container .tweet_stats .stat_items .retweets span.number,
.view_list_container .list_stats .stat_items .members span.number,
.view_list_container .list_stats .stat_items .suscribers span.number {
	font-family: "Open Sans Semibold";
	color: #666666;
	padding-bottom: 0.3125rem;
	display: block;
}
.tweet_container .tweet_stats .tweet_stats_photos {
	height: 2.875rem;
  overflow: hidden;
}
.tweet_container .tweet_stats .tweet_stats_photos img:nth-of-type(1) {
	margin-left: 0.625rem;
}
.tweet_container .tweet_stats .tweet_stats_photos img {
	border-radius: 0.25rem;
	margin-top: 0.625rem;
}
.tweet_container .tweet_date {
	color: #a9bbce;
  font-family: "Open Sans Semibold";
  font-size: 0.625rem;
  padding-left: 0.625rem;
}
.tweet_container .replies {
	background-color: #EDF5FC;
	margin: 0.625rem;
}
.tweet_container .replies span.post_date {
	margin-top: 0;
}
.tweet_container .replies .timeline_items .item p.post_content {
	margin-left: 3.125rem;
}
.tweet_container .replies .timeline_items .item .retweeted {
	margin-left: 1.875rem;
}
.overlay_options {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.5);
	z-index: 2;
}
ul.tweet_overlay_options {
	background-color: #FFFFFF;
	width: 13.125rem;
	border-radius: 0.3125rem;
	margin: 6.25rem auto 0;
	padding: 0;
}
ul.tweet_overlay_options li {
	list-style: none;
}
ul.tweet_overlay_options li a {
	text-decoration: none;
	display: block;
	color: #555555;
	font-family: "Open Sans Light";
	font-size: 0.75rem;
	padding: 0.625rem;
	border-bottom: solid 0.0625rem #CFCFCF;
}
ul.tweet_overlay_options li:last-child a {
	border-bottom: none;
}

/*
** Redactar Tweet
*/
.compose_container .header_spacer {
	height: 5.5rem;
}
button.send_tweet {
	color: #FFFFFF;
	font-family: "Open Sans";
	line-height: 3.125rem;
	display: block;
	float: right;
	padding: 0 1.25rem;
	background-color: transparent;
	background-image: none;
	border: none;
	height: 3.125rem;
}
button.send_tweet:active {
	background-color: #2383C2;
}
.compose_container .char_count_images_cont {
	background-color: #EEEEEE;
	height: 2.375rem;
	position: fixed;
	width: 100%;
	z-index: 2;
	top: 3.125rem;
}
.compose_container .char_count_images_cont span.char_count {
	display: block;
	float: left;
	line-height: 2.375rem;
	font-family: "Open Sans";
	color: #999999;
	font-size: 0.875rem;
	padding-left: 0.9375rem;
}
.compose_container .char_count_images_cont label.camera,
.compose_container .char_count_images_cont button.picture {
	background-image: url(../img/camera.png);
	display: block;
	float: right;
	width: 2.375rem;
	height: 2.375rem;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border: none;
}
.compose_container .char_count_images_cont button.picture {
	background-image: url(../img/picture.png);
	margin-right: 10.3125rem;
}
.compose_container .char_count_images_cont button.picture:active {
	background-image: url(../img/picture-hover.png);
	background-color: #66B1E3;
}
.compose_container .char_count_images_cont label.camera:active {
	background-image: url(../img/camera-hover.png);
	background-color: #66B1E3;
}
.compose_container .char_count_images_cont label.camera input {
	display: none;
}
.text_container {
	height: 50vh;
	position: relative;
}
.compose_container textarea.tweet_text {
	border: none;
	display: block;
  box-sizing: border-box;
	width: 94%;
	max-width: 94%;
	min-width: 94%;
	margin: 0.625rem auto;
	font-family: "Open Sans";
	font-size: 0.875rem;
	resize: none;
	height: 100%;
	background-image: none;
	background-color: #FFFFFF;
}

/*
** Estilos del Profile
*/
.profile_container .profile_image_header {
	position: relative;
}
.profile_container .profile_image_header img.profile_image {
	width: 100%;
}
.profile_container .profile_image_header img.profile_user_avatar {
	display: block;
	position: absolute;
	border-radius: 0.3125rem;
	border: solid 0.3125rem #FFFFFF;
	bottom: -2.313rem;
	left: 0.3125rem;
}
.profile_container .user_stats {
	border-bottom: solid 0.0625rem #EEEEEE;
	height: 2.5rem;
	padding-left: 6.25rem;
}
.profile_container .user_stats a.user_stat_item {
	float: left;
	margin-right: 0.9375rem;
	text-decoration: none;
}
.profile_container .user_stats a.user_stat_item span.stat_text,
.profile_container .user_stats a.user_stat_item span.stat_number {
	display: block;
	font-family: "Open Sans";
	text-transform: uppercase;
}
.profile_container .user_stats a.user_stat_item span.stat_text {
	font-size: 0.625rem;
	color: #333333;
}
.profile_container .user_stats a.user_stat_item span.stat_number {
	color: #66B1E3;
}
.profile_container .user_info {
	border-bottom: solid 0.0625rem #EEEEEE;
}
.profile_container .user_info .name_nick {
	float: left;
	margin-left: 0.625rem;
}
.profile_container .user_info .name_nick span.name,
.profile_container .user_info .name_nick span.nickname {
	display: block;
	font-family: "Open Sans";
}
.profile_container .user_info button.follow_user {
	border-radius: 1.25rem;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}
.profile_container .user_info .name_nick span.name {
	font-size: 1.063rem;
	margin-top: 0.375rem;
}
.profile_container .user_info .name_nick span.nickname {
	color: #666666;
	font-size: 0.875rem;
}
.profile_container .user_bio {
	padding: 0.625rem;
	font-family: "Open Sans";
	font-size: 0.875rem;
}
.profile_container .user_bio p {
	margin-bottom: 0.625rem;
	margin-top: 0;
}
.profile_container .user_bio p a {
	color: #5999CC;
	text-decoration: none;
}
.profile_container .user_bio p a:active {
	color: #FF5C26;
}
.profile_container .user_followers {
	background-color: #E4F1FA;
	font-family: "Open Sans";
	font-size: 0.75rem;
	padding: 0.625rem;
}
.profile_container .user_followers a {
	color: #5999cc;
	text-decoration: none;
}
.profile_container h3.profile_tweets_header {
	font-family: "Open Sans";
	font-weight: normal;
	margin: 0.625rem 0.625rem 0;
	text-transform: uppercase;
	color: #AAAAAA;
	font-size: 0.75rem;
}

/*
** Estilos de Listas
*/
.form_section {
	padding: 0.625rem;
}
.new_list_container label.fancy_check_label {
	float: left;
	margin-left: 0.625rem;
}
.new_list_container textarea.textarea_form {
	margin-bottom: 0.625rem;
}

.list_info {
	padding: 0.625rem 0.625rem 0;
}
.list_author_img {
	float: right;
}
.list_name {
	font-family: "Open Sans";
	font-weight: normal;
	margin: 0;
	line-height: 1.2;
}
.list_author_text {
	font-family: "Open Sans";
	color: #999999;
	font-size: 0.75rem;
}
.list_desc {
	color: #777777;
	font-family: "Open Sans";
	margin: 0.3125rem 0;
	font-size: 0.875rem;
}

.list_options .button {
	font-family: "Open Sans";
	font-size: 0.6875rem;
	color: #FFFFFF;
	line-height: 1;
	padding: 0.3125rem;
	background-image: none;
	border: none;
	margin-top: 0.75rem;
}
.list_options .button:first-child {
	margin-left: 0.625rem;
}
.button.blue {
	background-color: #66B1E3;
}
button.button.blue:active {
	background-color: #3498db;
}
.button.red {
	background-color: #E74C3C;
}
button.button.red:active {
	background-color: #c0392b;
}

.list_tabs {
	border-bottom: solid 0.0625rem #9ECDED;
}
.list_tabs a {
	text-align: center;
	text-decoration: none;
	font-family: "Open Sans";
	font-size: 0.75rem;
	color: #000000;
	height: 2.25rem;
	line-height: 2.25rem;
}
.list_tabs a:hover,
.list_tabs a:active,
.list_tabs a.active {
	border-bottom: solid 0.125rem #66B1E3;
}

.tab_content .user_avatar {
	border-radius: 0.3125rem;
}
.tab_content.memberof,
.tab_content.suscribedto {
	padding: 0.625rem;
}
a.list_name {
	color: #66B1E3;
	font-family: "Open Sans Semibold";
	text-decoration: none;
	font-size: 0.875rem;
}
.tab_content p.list_desc {
	color: #333333;
}
.count_members,
span.list_owner_name {
	font-family: "Open Sans";
	font-size: 0.75rem;
	color: #999999;
}
.all_list_container .tab_content .item {
	border-bottom: solid 0.0625rem #E3EAF0;
	padding-bottom: 0.3125rem;
}

.autocomplete_results {
	background-color: white;
  border: 0.0625rem solid #e1e8ed;
  position: absolute;
  width: 93%;
  z-index: 9;
  max-height: 12.5rem;
  overflow: auto;
}
a.autocomplete_item {
	display: block;
	text-decoration: none;
	font-family: "Open Sans";
	border-bottom: solid 0.0625rem #E1E8ED;
}
a.autocomplete_item span.user_name {
	line-height: 2.8rem;
	color: #000000;
	font-family: "Open Sans Semibold";
	font-size: 0.75rem;
}
a.autocomplete_item span.user_nick {
	color: #8899A6;
	font-size: 0.65rem;
}


/*
** Mensajes directos
*/
.timeline_items .item.dm.received .left {
	float: right;
}
.timeline_items .item.dm .post_header {
	display: none;
}
.timeline_items .item.dm p.post_content {
	margin-top: 0.625rem;
}
.timeline_items .item.dm.received p.post_content {
	text-align: right;
}
.timeline_items .item.dm span.post_date {
	text-align: left;
	margin-top: 0.3125rem;
}
.timeline_items .item.dm.received span.post_date {
	text-align: right;
}
