server {
    listen 443 spdy;

    server_name twitta.pijusmagnificus.com;
    gzip on;
    include      mime.types;
    default_type  application/octet-stream;
    sendfile        off;

    access_log /var/log/nginx/twitta/access.log;
    error_log /var/log/nginx/twitta/error.log;

    root /var/www/twitta.pijusmagnificus.com/;

    expires max;
    add_header Cache-Control public;

    ssl on;
    ssl_certificate /etc/ssl/private/twitta.pijusmagnificus.com-comb.crt;
    ssl_certificate_key /etc/ssl/private/twitta.pijusmagnificus.com.key;
    ssl_dhparam /etc/ssl/private/dhparam.pem;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-RSA-RC4-SHA:ECDHE-ECDSA-RC4-SHA:AES128:AES256:RC4-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 24h;
    ssl_buffer_size 1400;

    ssl_session_tickets off;
    spdy_headers_comp 6;
    add_header Strict-Transport-Security "max-age=15768000; includeSubdomains";

    location ^~ /sessions {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarder-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-NginX-Proxy true;

        proxy_pass http://localhost:8088;
        proxy_redirect off;
        access_log off;
    }

    location ~* ^.+\.(svg|jpg|jpeg|gif|bmp|ico|png|css|js|swf|html)$ {
        expires max;
        access_log off;
    }
}